
<head>

<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation') %>
 
    <main>
        <%if(products.length>0){%>
            <ul>
            <%products.forEach(p => {%>
                <li>
                <p><%= p.productData.title %>  <%=(p.qty)%></p> 
                <form method="POST" action="/cart-delete-item">
                    <input type="hidden" value="<%= p.productData.id %>" name="productId" />
                    <button type="submit">Slett</button>
                </form>
            </li>
            <% })%>
            </ul>
        <%} else { %>    
            
        <p>No products in cart!</p>
        <%}%> 
    </main>

</body>